@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Добро пожаловать</h1>
    <p>Этот сайт представляет собой учебный проект, исходный код доступ по ссылке: <a href="https://github.com/Valery-Soshin/LubricantStorage", >https://github.com/Valery-Soshin/LubricantStorage</a></p>
</div>
