html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.site-body-container {
    margin: 50px 200px 100px;
}

.site-body-container-without-bottom {
    margin: 50px 200px 0px;
}

.site-nav-item {
    background-color: #930667;
    color: white;
    border: 0px;
}

    .site-nav-item:hover {
        color: #daa0c7;
    }

    .site-nav-item::after {
        color: #daa0c7;
    }

    .site-nav-item:focus {
        color: #daa0c7;
    }

.main-theme {
    background-color: #930667;
    color: white;
}

.main-color {
    color: #930667;
}

.custom-btn-link {
    background-color: #930667;
    color: white;
}

    .custom-btn-link:hover {
        color: aqua;
    }

.custom-btn:hover {
    background-color: darkslategray;
}

.custom-btn {
    font-size: 18px;
}

.custom-input {
    font-size: 16px;
}

.btn-grad {
    background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}